!!! 5
%html
  %head
    %meta{ :charset => 'utf-8' }/
    %title= page.full_title
    %link{ :rel => :stylesheet, :href => '/assets/basic/styles/all.css', :type => 'text/css' }/
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js' }
    %script{ :src => '/assets/basic/scripts/application.js' }
  %body
    %header
      %div.site-title= config.title
      %div.site-subtitle= config.subtitle
    %nav= root_menu
    %section= yield
    %section
    = partial :github
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41028959-1', 'rip-lang.org');
      ga('send', 'pageview');
